*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
   font-family: 'Outfit', sans-serif;
}

body {
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    
}

.qrContainer{
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    min-height: fit-content(20em);
    margin: 20px;
    
}

.qrContainer-img{
    margin: 10px 10px;
    border-radius: 10px;
    width: 300px;
    height: 300px;

}
.qrContainer-textWrapper{
    margin:1rem;
    text-align: center;
    font-family: 'Lobster', cursive;
}
.qrContainer-text{
    font-weight: 700;
    font-size: 15px;
    padding: 1rem;
   


}
.qrContainer-subText{
    font-weight: 400;
    font-size: 15px;
    opacity: 60%;
    padding-bottom: 1rem;
}